/*jquery css*/
.ui-content .ui-listview,
.ui-panel-inner > .ui-listview{
    margin-top: 0em;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 0em;
}
.ui-panel >.ui-panel-inner{
    margin-top: -1em;
}

/* custom icons */
.ui-icon-pdf:after {
	background-image: url(./images/pdf_white.png);
	-moz-background-size: 18px 18px;
	-o-background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}

.ui-icon-home-fis:after {
	background-image: url(./images/FIS_white_36.png);
	-moz-background-size: 18px 18px;
	-o-background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}
.ui-header .ui-title.title_fis{
    padding: 0.3em 0;
    margin: 0 20%;
}

/* FIS*/
#fis-home {
	background-image: url(./images/FIS_white_home.png);
	background-size: 36px;
	top: 4px;
	position:absolute;
    left: 5px;
	float:left;
	height:36px;
	width: 36px;
}
.footer_new{
    padding-top:2px;
    padding-bottom:2px;
	text-align:center;
	font-size:10px;
}
#sidepanel{
    background-color: #303030;
}   
.spacer{
    height: 3em;
}
.pagesubtitle{
    font-size: 10px;
}
.pagesubtitle{
    text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
#extracontainer {
	margin-top: -5px;
	margin-bottom: 10px;
	width: 50%;
	text-align:center;
	float:right;
}
#extracontainer label{
	font-size: 12px;
	margin-left: 10px;
	text-align: left;
}
.gender_l {
    color: #ca10ca;
    font-weight: 700;
}
.gender_m {
    color: #002395;
    font-weight: 700;
}

/*====================================== START live====================================*/
@media screen and (min-width: 600px) {
	li.live_menu {
		font-size:16px;
	}
	.live_menu_wrap {
		float: left;
	}
	.live_menu_divider {
		visibility:visible;
		float: left;
		line-height: 16px;
	}
	
}

@media screen and (min-width:600px) and (max-width:768px)    {
    li.live_menu a.livelink, li.live_menu{
        font-size:12px;
	} 
}
.sprite-logo-blue { 
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    width : 30px; 
    height : 30px ; 
    background-image : url(./images/sprite_logos_blue.png);  
    display : inline-block; 
}
.sprite-logo-blue2{
    margin: 0 auto;
    background-size: 40px auto;
    background-repeat: no-repeat;
    width : 40px; 
    height : 40px ; 
    background-image : url(./images/sprite_logos_blue.png);  
    display : block; 
}
.sprite-logo-grey { 
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    width : 30px; 
    height : 30px ; 
    background-image : url(./images/sprite_logos_grey.png);  
    display : inline-block; 
}
.logo-AL { background-position : 0 0px }
.logo-CC { background-position : 0 -30px }
.logo-FS { background-position : 0 -60px }
.logo-GS { background-position : 0 -90px }
.logo-JP { background-position : 0 -120px }
.logo-NK { background-position : 0 -150px }
.logo-SB { background-position : 0 -180px }
.logo-SS { background-position : 0 -210px }
.logo-TM { background-position : 0 -240px }
.logo-Live { background-position : 0 -270px }
.logo-MA { background-position : 0 0px }

.numberlive{
    min-width: 24px;
    height: 24px;
    float: right;
    display: block;
    background: #fff;
    border: 1px solid #999999;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
}
.numberlivehome{
    min-width: 30px;
    height: 38px;
    float: right;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: -6px;
    margin-left: 1px;
}
.live_menu_divider {
	visibility:hidden;
	line-height: 0px;
}

.livesector,.livenumber { 
    float: both; 
    height: 50%;
    width: 30px;
    display: block;
}
.livenumber { 
    background: rgba(255,255,255,0.6);
}
.livesector { 
    background: rgba(255,255,255,0.1);  
/*    border: 1px solid rgba(0,0,0,0.1);*/
}
.livelist > li.liveline,
.livelist > li.liveline a{   
    font-size:14px !important;    
    font-weight:normal ! important;
}  
.livelist > li,
.livelist > li a{
    margin-top: -0.2em ! important;
    margin-bottom: -0.2em ! important;
    padding-top: 0.2em ! important;
    padding-bottom: 0.2em ! important;
}
.livedata > div{
    padding-left:10px;
    text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.livestarttime{
    width: 10% !important;
}
.livecategory{
    width: 10% !important;
    text-align:right;
}
.livestatus{
    width: 20% !important;
    text-align:right;
}
.liveinfo{
    text-align: right;
    color: #999999;
}
.livedata{
    width: 60% !important;
}
.review{
    background:#a7a7a7;
}
#sidepanel li a{ 
    font-weight: normal;
}
.filter{
	margin-top: -1em;
/*    margin-bottom: 15px;*/
}
.search {
	font-weight:bold;
	font-size:12px;
}
.carousel{
    overflow:hidden;
    width:100%;
    position:relative;
}
.carousel > ul{
    padding: 0;
}
.panes{
    list-style:none;
    position:relative;
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
}
.panes1{    
    width:100%; /* Number of panes * 100% */    
}
.panes2{
    width:200%; /* Number of panes * 100% */  
    -webkit-animation:carousel2 10s infinite;
       -moz-animation:carousel2 10s infinite;
            animation:carousel2 10s infinite;
}
.panes3{
    width:300%; /* Number of panes * 100% */    
    -webkit-animation:carousel3 15s infinite;
       -moz-animation:carousel3 15s infinite;
            animation:carousel3 15s infinite;
}
.panes > li{
    position:relative;
    float:left;
    display:block;
}
.panes1 > li{
    width:100%; /* 100 / number of panes */
}
.panes2 > li{
    width:50%; /* 100 / number of panes */
}
.panes3 > li{
    width:33.33%; /* 100 / number of panes */
}
.carousel div{
    display:block;
    width:100%;
    max-width:100%;
}
.runno{
    font-size:8px;
    text-align:center;
    color:#555;
}
.carousel .starttime{
    font-weight: bold;
    text-align:center;
    color:#000;
}
@-moz-keyframes carousel2{
    0%      { left:0; }
    49%     { left:0; }
    50%     { left:-100%; }
    99%   { left:-100%; }
    100%    { left:0; }
}

@-webkit-keyframes carousel2{
    0%      { left:0; }
    49%     { left:0; }
    50%     { left:-100%; }
    99%   { left:-100%; }
    100%    { left:0; }
}

@keyframes carousel2{
    0%      { left:0; }
    49%     { left:0; }
    50%     { left:-100%; }
    99%   { left:-100%; }
    100%    { left:0; }
}
@-moz-keyframes carousel3{
    0%  { left:0; }
    32% { left:0; }
    33% { left:-100%; }
    66% { left:-100%; }
    67% { left:-200%; }
    99% { left:-200%; }
    100%{ left:0; }
}

@-webkit-keyframes carousel3{
    0%  { left:0; }
    32% { left:0; }
    33% { left:-100%; }
    66% { left:-100%; }
    67% { left:-200%; }
    99% { left:-200%; }
    100%{ left:0; }
}

@keyframes carousel3{
    0%  { left:0; }
    32% { left:0; }
    33% { left:-100%; }
    66% { left:-100%; }
    67% { left:-200%; }
    99% { left:-200%; }
    100%{ left:0; }
}
@media screen and (max-width:600px) {
    .livelist > li,
    .livelist > li a,
    .livelist > li.liveline,
    .livelist > li.liveline a{   
        font-size:12px !important; 
    }
    li.live_menu a.livelink, li.live_menu {
        font-size:12px;
    }
    .livestarttime{
        width: 60px !important;
    }
    .livecategory{
        width: 35px !important;
    }
    .livedata{
        width: 50% !important;
    }
    .livedata > div{
        padding-left:4px;
    }
    .livestatus{
        width: 15% !important;
    }
    .livelist > .liveline > a > .ui-li-count{
        right: 0.2em;
    }
}    
/*====================================== END live====================================*/
/*====================================== START event,calendar====================================*/
.eventdata{
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
li.eventheader{
    padding-top: 0.2em ! important;
    padding-bottom: 0.2em ! important;
}
.eventlist > li,
.eventlist > li a,
.medallist > li.medalline a{   
    font-size:14px !important;    
    font-weight:normal ! important;
}  
.eventlist > li,
.medallist > li{   
    padding-top: 0.2em ! important;
    padding-bottom: 0.2em ! important;
}
.eventlist > li a,
.medallist > li.medalline a{
    margin-top: -0.2em ! important;
    margin-bottom: -0.2em ! important;
    padding-top: 0.2em ! important;
    padding-bottom: 0.2em ! important;
}
.prevnext{
	margin-left:-1em;
	margin-right:-1em;
}
#hide{
    display:none;
}
@media screen and (max-width: 600px) {
    .eventlist > li,
    .eventlist > li a,
    .medallist > li,
    .medallist > li a,
    .medallist > li.medalline a{   
        font-size:12px !important; 
        padding-left:0.2em;
        padding-right: 0.2em
    } 
    #hide{
        display:block;
        line-height:0;
    }
    .calendar{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .eventlist > .ui-li-static{
        padding: 0.7em 0.2em;
    }
    .eventlist > .ui-li-divider{
        padding: 0.5em 0.2em;
    }
/*    a.calendar{
        font-size:12px;
    }*/
}     
/*iPhone*/
@media screen and (max-width:760px){


}
/*iPad and bigger */
@media screen and (min-width:761px) and (max-width:900px)   
{


}



/*====================================== END event,calendar====================================*/

/*====================================== START new results====================================*/
.raceinfo > li{   
    font-size:12px !important;    
    font-weight:normal ! important;
}  
.raceinfo > li{   
    padding-top: 0.2em ! important;
    padding-bottom: 0.2em ! important;
}
.medallink{
    padding-top: 0.3em;
}
.medallink > li a{   
    padding-top: 0.4em ! important;
    padding-bottom: 0.4em ! important;
}
.run {
    font-size: 11px;
    display: block;
    width: 100%;
}
.resultlist > li > div > div,
.resultlist > li.resultline > div > div,
.resultlist > li > a > div > div,
.resultlist > li.resultline > a > div > div{
    text-overflow: ellipsis ! important;
	overflow:hidden ! important;
	white-space:nowrap ! important;
}
li.resultline,
.resultlist > li,
.resultlist > li a{   
    font-size:14px !important;    
    font-weight:normal ! important;
} 
li.resultheader{
    padding: 0.2em 1em !important;
}
li.resultline a{
    padding-top: 0.4em ! important;
    padding-bottom: 0.4em ! important;
}
li.resultlineteam a{
    padding-top: 0.4em ! important;
    padding-bottom: 0.4em ! important;
}
.colorselect{
    width: 20px;
    height: 20px;
    float: left;
    margin-left:5px;
    border: 1px solid #b3b3b3;
}
.favnat,.li.favnat,li.favnat a{
    background: rgb(151,221,255) !important;
}
li.favnatteam,li.favnatteam a{
    background: rgb(151,221,255) !important;
}
.favnat_2,.li.favnat_2,li.favnat_2 a{
    background: rgb(178,255,191) !important;
}
li.favnatteam_2,li.favnatteam_2 a{
    background: rgb(178,255,191) !important;
}
.favnat_3,.li.favnat_3,li.favnat_3 a{
    background: rgb(255,178,178) !important;
}
li.favnatteam_3,li.favnatteam_3 a{
    background: rgb(255,178,178) !important;
}
.favnat_4,.li.favnat_4,li.favnat_4 a{
    background: rgb(238,178,255) !important;
}
li.favnatteam_4,li.favnatteam_4 a{
    background: rgb(238,178,255) !important;
}
.settingfieldset{
    margin: -0.5em 0 !important;
}
.settinglabel{
    width: 30% !important;
    padding-top: 1em;
}
.settinglabel > label{
    float: right;
    margin-right: 20px;
    font-size: 14px;
}
.settingselect{
    width: 70% !important;
}
li.lastfinish{
    background: rgb(253,230,150) !important;
}
li.lastfinishteam{
    background: rgb(253,230,150) !important;
}
.name{
	text-align:left;
	text-overflow: ellipsis;
	overflow:hidden;
	}
.teamname {
	font-weight: bold;
	}    
.bib, .position {
	text-align:right;
	padding-right:5px;
	font-weight:bold;
    background: rgb(214,214,214);   
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-top: 0.3em;
    padding-left: 5px;
    padding-right: 5px;
    width: 20px;
}
.position{
    background:#FCC300;
}
li.irm{
    text-align:left;
    background: #00388C;
	font-weight: bold;
	color: #ffffff;
    padding-top: 0.3em ! important;
    padding-bottom: 0.3em ! important;
}
.time {
	text-align:right;
	}
.time_team {
    width:60px;
    }  
.points,.points_total,.points_total_big,.cuppoints {
	text-align:right;
	}
.cuppoints {
	font-weight:bold;
}	
.points_team {
	text-align:right;
	font-weight:bold;
	}
.time_team {
	text-align:right;
	font-weight:bold;
	}
.livepoints {
	text-align:right;
	}
.rankraces {
	text-align:right;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
    }
.hidecolumn {
    display: block;
}    
.info {
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    text-align: center;
}
.width_block1, .ui-grid-a > *:nth-child(n) .width_block1{ 
    width:50% !important;
}
.width_block2, .ui-grid-a > *:nth-child(n) .width_block2 { 
    width:50% !important;
}
.width_Rank { 
    width:10% !important;
    /*margin-left: -2px;*/
}
.width_Bib { 
    width:10% !important;
    margin-left: -2px;
}
.width_Name { 
    width:78% !important;
}
.width_Nation { 
    width:12% !important;
}
.width_Time1 { 
    width:100% !important;
}
.width_Time2,.width_Time21 { 
    width:50% !important;
}
.width_Time3, /*.ui-grid-a > *:nth-child(n) .width_Time3,*/
.width_Time31{ 
    width:33% !important;
}
.width_Time4, /*.ui-grid-a > *:nth-child(n) .width_Time4,*/
.width_Time41{ 
    width:67% !important;
}
.width_Time5/*, .ui-grid-a > *:nth-child(n) .width_Time5*/{ 
    width:25% !important;
}
@media screen and (max-width: 600px) {
    .name, .teamname{
        margin-left: -2px ! important;
        }
    .position, .bib {
        width: 17px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 2px;
        padding-right:5px;
    }  
    div.nameheader {
        padding-left:7px;
	}
    .live_menu_wrap {
		float: left;
	}
    li.resultline,
    li.resultline a,
    li.resultlineteam a,
    li.resultheader,
    .resultlist > li,
    .resultlist > li a{
       font-size:12px !important; 
       padding-right: 0.2em
    }  
    li.resultheader{
        padding-right: 0.2em !important;
        padding-left: 0.3em !important;
    }
    .width_block1/*, .ui-grid-a > *:nth-child(n) .width_block1*/{ 
        width:65% !important;
    }
    .width_block2/*, .ui-grid-a > *:nth-child(n) .width_block2*/ { 
        width:35% !important;
    }
    .hide_column {
        display: none;
    }
    .width_Time21{ 
        width:100% !important;
    }
    .breakcolumn .ui-block-a,
	.breakcolumn .ui-block-b {
		width: 100%  !important;
		float:none;
	}
    .width_Time3, /*.ui-grid-a > *:nth-child(n) .width_Time3,*/
    .width_Time4/*, .ui-grid-a > *:nth-child(n) .width_Time4*/{ 
        width:50% !important; 
    }
/*    .width_Time31{
       width:40% !important; 
    }
    .width_Time41{
       width:60% !important; 
    }*/
    .expand_50,
    .width_Time3.expand_50,
    .width_Time4.expand_50{
        width:50% !important;
    }
    .expand_100,
    .width_Time3.expand_100,
    .width_Time4.expand_100{
        width:100% !important;
    }    
    .settinglabel{
        width: 100% !important;
    }
    .settinglabel > label{
        margin-right: 10px;
        float: left;
    }
    .settingselect{
        width: 100% !important;
    }
}
/*====================================== END new results====================================*/

/*====================================== START medals====================================*/
.gold,.silver,.bronze { 
    width: 10px;
    height: 10px;
    background-size: 10px auto;
    background-repeat: no-repeat; 
    display : inline-block; 
}
.gold_big,.silver_big,.bronze_big { 
    width: 20px;
    height: 20px;
    background-size: 20px auto;
    background-repeat: no-repeat; 
    display : inline-block; 
}
.gold,.gold_big {
    background-image : url(./images/fis_gold.png);  
}
.silver,.silver_big {
    background-image : url(./images/fis_silver.png);  
}
.bronze,.bronze_big {
    background-image : url(./images/fis_bronze.png);  
}
.medalrank{
    text-align: right; 
}
.medalresult{
    text-align: center;  
}
.medalnation{
    padding-left: 10px;
}
.medalflag{  
    margin-bottom: -5px;
    margin-top: -5px;
    width:20% !important;
}
.medalflag > div{
    border: 1px solid #f0f0f0;   
}
.medalnationshort{
    display: none;
}
.medalnationlong{
    width:76% !important;
    display: block;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space:nowrap;
}
@media screen and (max-width: 600px) {
    .medalnationlong{
        display: none;
    }    
    .medalnationshort{
        width:50% !important;
        display: block;
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space:nowrap;        
    }
    .medalflag{  
        width:46% !important;
    }
}
/*======================================END medals====================================*/
/*======================================START biog====================================*/
.select_biog{
    margin: -1em;
}
@media screen and (max-width: 600px) {
    .ui-field-contain.select_biog, .ui-mobile fieldset.ui-field-contain.select_biog{
        padding: 0;
    }
}
/*======================================END biog====================================*/
