<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id="com.fis-ski.mobile-fis-ski" 
        version="1.0.4" 
        versioncode="4">
    <name>Mobile.fis-ski.com</name>
    <Description>Official web app of the FIS (International Ski Federation). Everything about the ski and snowboard World: Worldcup, Continental cup, every race level results, Live timing and live scoring, Calendar, News, Athletes Biographies, Cup standings.</Description>
    <author href="http://www.fis-ski.com">
        FIS IT department
    </author>
       <preference name="orientation" value="both" />
       <preference name="target-device" value="universal" />
       <preference name="fullscreen" value="true" />
       <preference name="webviewbounce" value="false" />
       <preference name="stay-in-webview" value="true" />
       <gap:splash src="splash/splash.png" />
       <gap:splash src="splash/android/portrait/ldpi.png" gap:platform="android" gap:density="ldpi"  width="200" height="320" />
       <gap:splash src="splash/android/portrait/mdpi.png" gap:platform="android" gap:density="mdpi"  width="320" height="480" />
       <gap:splash src="splash/android/portrait/hdpi.png" gap:platform="android" gap:density="hdpi"  width="480" height="800" />
       <gap:splash src="splash/android/portrait/xhdpi.png" gap:platform="android" gap:density="xhdpi"  width="720" height="1280" />
       <gap:splash src="splash/android/landscape/ldpi.png" gap:platform="android" gap:density="ldpi"  width="426" height="320" />
       <gap:splash src="splash/android/landscape/mdpi.png" gap:platform="android" gap:density="mdpi"  width="470" height="320" />
       <gap:splash src="splash/android/landscape/hdpi.png" gap:platform="android" gap:density="hdpi"  width="640" height="480" />
       <gap:splash src="splash/android/landscape/xhdpi.png" gap:platform="android" gap:density="xhdpi"  width="960" height="720" />
       <gap:splash src="splash/ios/Default.png" width="320" height="480" />
       <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
       <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
       <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
       <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
       <access />
       <access origin="http://fisski.com" subdomains="true" />
       <access origin="http://www.fis-ski.com" />
       <access origin="http://www.fisalpine.com" />
       <access origin="http://live.fisski.com" />
       <preference name="permissions" value="none"/>
</widget>
