<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id="com.fis-ski.mobile-fis-ski" 
        version="1.0.7" 
        versioncode="7">
    <name>Mobile.fis-ski.com</name>
    <Description>Official web app of the FIS (International Ski Federation). Everything about the ski and snowboard World: Worldcup, Continental cup, every race level results, Live timing and live scoring, Calendar, News, Athletes Biographies, Cup standings.</Description>
    <author href="http://www.fis-ski.com">
        FIS IT department
    </author>
        <preference name="phonegap-version" value="2.2.0" />
       <preference name="orientation" value="both" />
       <preference name="target-device" value="universal" />
       <preference name="fullscreen" value="false" />
       <preference name="webviewbounce" value="false" />
       <preference name="stay-in-webview" value="true" />
       <preference name="show-splash-screen-spinner" value="true" />
       <gap:splash src="splash/splash.png" />
       <gap:splash src="splash/android/portrait/ldpi.png" gap:platform="android" gap:density="ldpi" />
       <gap:splash src="splash/android/portrait/mdpi.png" gap:platform="android" gap:density="mdpi" />
       <gap:splash src="splash/android/portrait/hdpi.png" gap:platform="android" gap:density="hdpi" />
       <gap:splash src="splash/android/portrait/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
       <icon src="icons/android/fis_logo-36x36.png" gap:platform="android" gap:density="ldpi" />
        <icon src="icons/android/fis_logo-48x48.png" gap:platform="android" gap:density="mdpi" />
        <icon src="icons/android/fis_logo-72x72.png" gap:platform="android" gap:density="hdpi" />
        <icon src="icons/android/fis_logo-96x96.png" gap:platform="android" gap:density="xhdpi" />
       <!--<gap:splash src="splash/android/landscape/ldpi.png" gap:platform="android" gap:density="ldpi" />
       <gap:splash src="splash/android/landscape/mdpi.png" gap:platform="android" gap:density="mdpi" />
       <gap:splash src="splash/android/landscape/hdpi.png" gap:platform="android" gap:density="hdpi" />
       <gap:splash src="splash/android/landscape/xhdpi.png" gap:platform="android" gap:density="xhdpi" />-->
       <icon src="icons/ios/fis_logo-57x57.png" width="57" height="57" />
        <icon src="icons/ios/fis_logo-72x72.png" gap:platform="ios" width="72" height="72" />
        <icon src="icons/ios/fis_logo-114x114.png" width="114" height="114" />
       <gap:splash src="splash/ios/Default.png" width="320" height="480" />
       <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
       <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
       <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
       <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
       <!--<access />
       <access origin="http://fisski.com" subdomains="true" />
       <access origin="http://www.fis-ski.com" />
       <access origin="http://www.fisalpine.com" />
       <access origin="http://www.fiscrosscountry.com" />
       <access origin="http://www.fissnowboard.com" />
       <access origin="http://www.fisfreestyle.com" />
       <access origin="http://www.fisskijumping.com" />
       <access origin="http://www.fisnordicombined.com" />
       <access origin="http://live.fisski.com" />-->
       <preference name="permissions" value="none" />
       <gap:plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
       <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
